/* custom CSS rules */
body {
    font-family: "Work Sans", sans-serif;
}
.legend-large, .legend-small {
    border-radius: 50%;
}
h1 {
    color: navy;
    font-size: 30px;
}
h2 {
    color: cornflowerblue;
}
p {
    color: #5d5b5b;
}
background {
    color: orange;
}
hr.small, hr.large {
    width: 80px;
    position: absolute;
    top: -8px;
    left: 50px;
    border: 1px solid #ccc;     /* overwrite assembly.css rule */
    margin-top: 8px;            /* overwrite assembly.css rule */
}
.donors {
    color: blue;
}
.transplants {
    color: green;
}