body {
    font-family: "Work Sans", sans-serif;
}
.legend-large,
.legend-small,
.legend-xsmall {
    border-radius: 50%;
}
h1, h2, h3 {
    color: navy;
    font-size: 30px;
}
h2 {
    color: cornflowerblue;
}
p {
    color: #5d5b5b;
}
hr.xsmall,
hr.small,
hr.large {
    width: 80px;
    position: absolute;
    top: -8px;
    left: 50px;
    border: 1px solid blue;
    /* overwrite assembly.css rule */
    margin-top: 8px;
    /* overwrite assembly.css rule */
}
label {
    font-size: 1.5em;
    color: white;
    background-color: blue;
}
.donors {
    color: blue;
}
.transplants {
    color: green;
}